  @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, #fefedf, #e9fde6, #daf9ee, #d6f2f4, #d8ebf4) !important;
}


  
  

.navbar {
    font-family: 'Hind Siliguri', sans-serif !important;
    background-color: rgba(51, 51, 51, 0.178);
}

a .logo {
    width: 8vh;
    transition: all .9s;
}

a:hover {
    background-color: rgba(150, 224, 224, 0.233);
}

header {
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, .6) 0%,
    rgba(0, 0, 0, .5) 100%),
    url("../image/hero_image.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
    font-family: 'Hind Siliguri', sans-serif !important;
    background-attachment: fixed;
}

.color-overlay {
    min-height: 100vh;
    color: rgb(223, 200, 200);
}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 100vh;
    }
}

.service-head {
    font-family: 'Hind Siliguri', sans-serif !important;
}

.section-01 {
    margin-top: 15rem;
    margin-bottom: 10rem;
}
.card_overlay_01 {
    background-color: rgba(211, 190, 190, 0.247);
    font-family: 'Hind Siliguri', sans-serif !important;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-img .{
    opacity: 50%;
    border-radius: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card {
    border-radius: 20px !important;
    border: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}

.section-02 {
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, .6) 0%,
    rgba(0, 0, 0, .5) 100%),
    url("../image/section_2_hero_image.jpg");
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
    font-family: 'Hind Siliguri', sans-serif !important;
    background-attachment: fixed;
}

.color-overlay {
    min-height: 100vh;
    color: rgb(223, 200, 200);
}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 100vh;
    }
}

.card-img-top {
    border-radius: 20px 20px 0px 0px !important;
}

.card_service {
    background-color: #daf9ee42 !important;
    border: 0 !important;
    box-shadow: inset 0px -53px 50px 22px rgba(0,0,0,0.1) !important;
}

.site-footer
{
  background-color:#26272bde;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#07830ddc
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.feature {
    margin-bottom: 20rem;
}