@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kalam:wght@300;400;700&display=swap');

:root {
  --fontone: 'Kalam', cursive;
  --fonttwo: 'PT Sans Narrow', sans-serif;
  --fontthe: 'Solitreo', cursive;
}

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: linear-gradient(to right bottom, #fefedf, #e9fde6, #daf9ee, #d6f2f4, #d8ebf4) !important; */
}


.navbar {
  /* background-color: rgba(196, 211, 186, 0.493) !important; */
  background: transparent;
}

.nav-logo {
  width: 300px;
}

a .logo {
  width: 8vh;
  transition: all .9s;
}

.nav-link {
  font-family: var(--fontone) !important;
  text-decoration: none;
  color: rgb(12, 1, 1) !important;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: rgb(136, 7, 7) !important;
  color: #f0eaea !important;
}

header {
  background-image: linear-gradient(180deg,
      rgba(0, 0, 0, .6) 0%,
      rgba(0, 0, 0, .5) 100%),
    url("../image/hero_image.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: aliceblue;
  background-attachment: fixed;
}

.bbb-1 {
  font-family: var(--fontthe) !important;
  font-style: italic !important;
}

.color-overlay {
  min-height: 60vh !important;
  background-color: #27252e5b;
  width: 100%;
  height: 100%;
  color: rgb(223, 200, 200);
}

@media (max-width: 767.98px) {
  .color-overlay {
    min-height: 100vh;
  }

}

@media (max-width: 700px) {
  .nav-logo {
    width: 100%;
  }

}

.service-head-1 {
  font-family: var(--fontone) !important;
}

.section-01 {
  background: url(../image/part\ 01.svg) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 800px; */
}

.section-01 .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.service-head-2 {
  font-family: var(--fonttwo);
  font-style: italic !important;

}

.card_overlay_01 {
  background-color: rgba(211, 190, 190, 0.247);
  font-family: 'Hind Siliguri', sans-serif !important;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-img {
  opacity: 50%;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card {
  border-radius: 20px !important;
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}

.section-02 {
  background-image: linear-gradient(180deg,
      rgba(0, 0, 0, .6) 0%,
      rgba(0, 0, 0, .5) 100%),
    url("../image/section_2_hero_image.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: aliceblue;
  font-family: 'Hind Siliguri', sans-serif !important;
  background-attachment: fixed;
}

.color-overlay {
  min-height: 80vh;
  color: rgb(223, 200, 200);
}

@media (max-width: 767.98px) {
  .color-overlay {
    min-height: 100vh;
  }
}

.card-img-top {
  border-radius: 20px 20px 0px 0px !important;
}

.card_service {
  background-color: #daf9ee42 !important;
  border: 0 !important;
  box-shadow: inset 0px -53px 50px 22px rgba(0, 0, 0, 0.1) !important;
}

.site-footer {
  position: relative;
  background-color: #333;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #bbb9b9;
}


.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #bbb9b9 !important;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #bbb9b9 !important;
}

.site-footer a:hover {
  color: #f0e006;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #f3db00 !important;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #07830ddc
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }


}

.feature {
  margin-bottom: 20rem;
}

.section-03 {
  background: url(../image/part\ 3.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-04 {
  background-color: #0C0B10 !important;
  height: auto !important;
}

.section-04 .card {
  background: transparent !important;
  color: white;
}

.section-04 .card-title {
  font-family: var(--fontone);
  color: white;
}

.svg-65 {
  height: 23px !important;
  padding-bottom: 6px;
}

.svg-55 {
  height: 30px !important;
}


.image-radius {
  border-radius: 150px !important;
}

.object-for-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0px 0px;
  ;
}

.owl-theme .owl-dots {
  display: none;
}

.card-text-middle {
  font-size: 12px;
  color: #fff;
  font-weight: 100;
}

.price {
  font-size: 21px;
  color: #eceeef;
  font-weight: 200;
  font-family: var(--fontone);
  padding-bottom: 10px;
}

@media (max-width: 667px) {

  .card-01 {
    margin: auto 20px !important;
    box-shadow: none !important;
  }

  .card-01 .card-img-top {
    margin: auto !important;
    width: 50%;
    object-fit: cover !important;
    object-position: 0px 0px !important;
  }
}

.card-01 {
  box-shadow: none !important;
}


/* menu page style */
.font-family {
  font-family: var(--fontone);
}

/* menu page end */


/* carosuel par */
/* slide start */
.carousel-item img {
  object-fit: cover !important;
  height: 90vh;
  object-position: 0px 0px;
}

.carousel-caption {
  position: absolute;
  bottom: 40% !important;
  background-color: #2d2d2d81;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .carousel-item {
    width: 100% !important;
    height: 500px !important;
  }

  .carousel {
    height: 400px !important;
  }

  .carousel-item img {
    height: 50vh;
    object-fit: cover !important;
  }

  .carousel-caption {
    position: absolute;
    bottom: 45% !important;
    background-color: #2d2d2d40;
  }

}

/* text here */
.carousel .carousel-control-prev-icon {
  background-image: url(../image/carosuel-next.svg) !important;
}

.carousel-control-next-icon {
  background-image: url(../image/carosuel-prev.svg) !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  /* Use to adjust size of icons */
  width: 5rem;
  height: 6rem;
  /* opacity: 100% !important; */
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: all .15s ease;
}

/* carosuel btn hover part */
.carousel-control-prev-icon:hover {
  width: 7rem !important;
  height: 8rem;
  transition: all 0.1s;
}

.carousel-control-next-icon:hover {
  width: 7rem !important;
  height: 8rem;
  transition: all 0.1s;
}

/* end */

/* about us section */
.about-section-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.about-us-card {
  border: 0px;
  box-shadow: none !important;
  text-align: justify;
  margin: auto 10px;
  /* padding-block: 40px; */
  background: transparent !important;
}

.container-about-us {
  background-image: url(../image/about-section-svg.svg) !important;
  background-size: cover;
  color: white;
  font-family: var(--fontone);
}


form {
  font-family: var(--fontone) !important;
}

.contact-con {
  font-family: var(--fontone) !important;
}

.card-contact:hover {
  border: 1px solid #ec5d53 !important;
  transition: all 0.1s ease-in;
}