@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --font: 'Oswald', sans-serif;
    --color: rgba(233, 218, 218, 0.322);
}

.fr {
    background-color: rgba(144, 147, 150, 0.185);
}

input[type="text"],
input[type="email"] {
    background-color: rgba(252, 253, 255, 0.918);
}

.form-control:focus {
    border-color: #3a3636;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(116, 82, 82, 0.24);
  }

  .form-check-input:focus {
    background-color: #1f20227c;
    border: 0;
  }

  .form-check-input:checked {
    background-color: #acaeaf;
     border-color: #091425;
}